{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

        {% include('inc/navbar.html.twig') %}
        <h1 class="display-4">Login</h1>
        {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}



