{% extends 'base.html.twig' %}

{% block title %}Edit ServicesSubCategory{% endblock %}

{% block body %}
    <h1>Edit ServicesSubCategory</h1>

    {{ include('admin/services_sub_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_services_sub_category_index') }}">back to list</a>

    {{ include('admin/services_sub_category/_delete_form.html.twig') }}
{% endblock %}