{% extends 'base.html.twig' %}

{% block title %}New ServicesCategory{% endblock %}

{% block body %}
    <h1>Create new ServicesCategory</h1>

    {{ include('admin/services_category/_form.html.twig') }}

    <a href="{{ path('admin_services_category_index') }}">back to list</a>
{% endblock %}