{% extends 'base.html.twig' %}

{% block title %}Edit CarsBrand{% endblock %}

{% block body %}
    <h1>Edit CarsBrand</h1>

    {{ include('cars_brand/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cars_brand_index') }}">back to list</a>

    {{ include('cars_brand/_delete_form.html.twig') }}
{% endblock %}