{% trans_default_domain 'FOSUserBundle' %}
<h1 class="text-center text-secondary">PASSWORD RESET</h1>
<link rel="stylesheet" type="text/css" href="/css/login.css">
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

    <div class="loginPage container">
        {{ form_widget(form) }}
        <input class="btn btn-secondary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
