{#
{% extends 'base.html.twig' %}

{% block title %}New Visit{% endblock %}

{% block body %}
    <h1>Create new Visit</h1>

    {{ include('visit/_form.html.twig') }}

    <a href="{{ path('visit_index') }}">back to list</a>
{% endblock %}
#}

{% extends 'base.html.twig' %}

{% block title %}New Visit{% endblock %}

{% block body %}
    <div class="jumbotron mx-4 my-4">
        <h1 class="display-4">Create new service</h1>

        {{ include('visit/_form.html.twig') }}

        <hr>
        <div class="text-center">
            <a class="btn btn-dark text-center" href="{{ path('visit_index') }}">Back to list</a>
        </div>
    </div>
{% endblock %}