{% trans_default_domain 'FOSUserBundle' %}

<h1 class="display-4">Registration</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input class="btn btn-secondary btn-lg" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}