{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <h2 class="display-4 text-center text-secondary">Actions</h2>
    {% include('admin/index_table_admin.html.twig') %}
    {% include('admin/index_order_admin.html.twig') %}
{% endblock %}
