{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
    <div class="jumbotron mx-4 my-4">
    <h1 class="display-4">Create new service</h1>

    {{ include('admin/service_form.html.twig') }}

    <hr>

        <div class="text-center">
            <a class="btn btn-dark text-center" href="{{ path('admin_services') }}">Back to list</a>
        </div>
    </div>
{% endblock %}