{% extends 'base.html.twig' %}

{% block title %}Edit Car{% endblock %}

{% block body %}
    <div class="jumbotron mx-4 my-4">
        <div class="container text-center">
            <h1 class="display-4">Edit Car</h1>
        </div>

        {{ include('car/_form.html.twig', {'button_label': 'Update'}) }}

        <hr>

        <div class="text-center">
            <a class="btn btn-dark" href="{{ path('car_index') }}">Back to list</a>
        </div>
        {{ include('car/_delete_form.html.twig') }}
    </div>
{% endblock %}