{% extends 'base.html.twig' %}

{% block title %}New car{% endblock %}

{% block body %}
    <div class="jumbotron mx-4 my-4">
        <h1 class="display-4 text-center">Create new car</h1>

        {{ include('car/_form.html.twig') }}

        <hr>

        <div class="text-center">
            <a class="btn btn-dark text-center" href="{{ path('car_index') }}">Back to list</a>
        </div>
    </div>
{% endblock %}