{% extends 'base.html.twig' %}

{% block title %}New ServicesSubCategory{% endblock %}

{% block body %}
    <h1>Create new ServicesSubCategory</h1>

    {{ include('services_sub_category/_form.html.twig') }}

    <a href="{{ path('services_sub_category_index') }}">back to list</a>
{% endblock %}