{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <div class="jumbotron my-4 container">
        <h2 class="display-4 text-center text-secondary">Create new order</h2>
        {{ include('order/_form.html.twig') }}
        <hr>
        <div class="text-center">
            <a class="btn btn-secondary text-center" href="{{ path('order_index') }}">Back to list</a>
        </div>
    </div>
{% endblock %}